.container {
    padding-left: 30px;
    padding-top: 20px;
}
.img-circle {
    width: 100px;
}

.button-filter {    
    margin-top: 25px;
}

/*----------------------
Product Card Styles 
----------------------*/
.panel.panel--styled {
    background: #F4F2F3;
}
.panelTop {
    padding: 10px;
}

.panelBottom {
    border-top: 1px solid #e7e7e7;
    padding-top: 15px;
}
.btn-info {
    background: #367fa9;
    color: #fff;
}
.btn.btn-info.focus, .btn.btn-info:focus, .btn.btn-info:hover  {
	color: #fff;   
    background: #46a1d6;
	outline: none;
}
.btn-info:active {
	background: #3c8dbc;
	outline: none;
}

.box-comments {
    margin-top: 10px;
}

.social-buttons {
    margin-top: -8px;
    padding: 0;
}
.social-buttons a {
    font-size: 30px;
}