<template>
  <a
    class="btn btn-sm btn-success"
    data-toggle="collapse"
    :href="'#comments-' + key_id"
    :aria-controls="'comments-' + key_id"
    aria-expanded="false"
    @click.prevent="enventComments"
    ><span class="glyphicon glyphicon-comment"></span> Comentar</a
  >
</template>

<script>
export default {
  props: {
    key_id: Number,
    ad_id: String,
  },
  data() {
    return {
      expanded: false,
    };
  },
  mounted() {},
  methods: {
    enventComments: function () {
      if (!this.expanded) {
        eventBus.$emit("load-comments-" + this.ad_id);
      }
      this.expanded = !this.expanded;
    },
  },
};
</script>