<template>
  <div class="col-md-8">
    <div class="card">
      <!--<div class="card-header">Filtrar anuncios</div>-->
      <div class="card-body">
        <div class="row">
          <div class="form-group col-md-6">
            <label>Categoría:</label>
            <select
              class="form-control"
              v-model="categoria"
              @change="getSubcategorias()"
              name="categorias_id"
            >
              <option value="">Select Categoría</option>
              <option
                v-for="categoria in categorias"
                :value="categoria.id"
                :key="categoria.id"
              >
                {{ categoria.description }}
              </option>
            </select>
          </div>

          <div class="form-group col-md-6">
            <label>Subcategoría:</label>
            <select
              class="form-control"
              v-model="subcategoria"
              name="subcategorias_id"
            >
              <option value="">Select Subcategoría</option>
              <option
                v-for="data in subcategorias"
                :value="data.id"
                :key="data.id"
              >
                {{ data.description }}
              </option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-3">
            <check_save_scrapper></check_save_scrapper>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    defaultcategoria: String,
    defaultsubcategoria: String,
  },
  mounted() {
    console.log("Filters component mounted.");
    if (this.defaultcategoria) {
      this.categoria = this.defaultcategoria;
      this.getSubcategorias();
    }
    if (this.defaultsubcategoria) {
      this.subcategoria = this.defaultsubcategoria;
    }
  },
  data() {
    return {
      categoria: "",
      categorias: {},
      subcategoria: "",
      subcategorias: [],
    };
  },
  methods: {
    getCategorias: function () {
      axios.get("/api/v1/categorias").then((response) => {
        this.categorias = response.data.data;
      });
    },
    getSubcategorias: function () {
      axios
        .get("/api/v1/subcategorias", {
          params: {
            categorias_id: this.categoria,
          },
        })
        .then((response) => {
          this.subcategorias = response.data.data;
        });
    },
  },
  created: function () {
    this.getCategorias();
  },
};
</script>