<template>
  <div class="comments">
    <div :class="comments_wrapper_classes">
      <comment
        v-for="comment in default_comments"
        :comment="comment"
        :key="comment.id"
      ></comment>
    </div>
    <hr />
    <div class="reply">
      <!--<div class="avatar">
        <img :src="current_user.avatar" alt="" />
      </div>-->
      <input
        type="text"
        v-model.trim="reply"
        class="reply--text col-md-12"
        placeholder="Deja tu comentario..."
        required
        @keyup.enter="submitComment"
      />
      <button class="reply--button" @click.prevent="submitComment">
        <i class="fa fa-paper-plane"></i> Send
      </button>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    comments: Array,
    current_user: Object,
    comments_wrapper_classes: Array,
    ad_id: String,
  },
  mounted() {
    eventBus.$on("load-comments-" + this.ad_id, (data) => {
      axios
        .get("/comments", {
          params: {
            clasificados_ad_id: this.ad_id,
          },
        })
        .then((response) => {
          this.default_comments = response.data.data;
        });
    });
  },
  data() {
    return {
      reply: "",
      default_comments: []
    };
  },
  methods: {
    submitComment: function () {
      if (this.reply != "") {
        let post = {
          text: this.reply,
          clasificados_ad_id: this.ad_id,
        };
        axios.post("/comments", post).then((result) => {
          this.default_comments.push({
            id: this.default_comments.length + 1,
            user: result.data.data.user,
            text: result.data.data.text,
          });
          this.reply = "";
        });
      }
    },
  },
};
</script>

<style scoped>
.comments {
  margin-top: 20px;
  padding: 20px;
  padding-top: 0;
}
.comments-wrapper {
  max-height: 250px;
  overflow-y: auto;
  padding-right: 10px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #fff;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  background-color: #fff;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}
/* Reply component */
.reply {
  display: flex;
  position: relative;
  align-items: center;
  background-color: #ffffff;
  padding: 5px 10px;
  overflow: hidden;
  border-style: groove;
}
.reply .avatar {
  position: absolute;
}
.reply .avatar > img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
.reply .reply--text {
  min-height: 40px;
  padding: 10px 10px 10px 55px;
  border: 0;
  color: #333;
  width: 100%;
  outline: 0;
  background-color: #ffffff;
  box-shadow: none;
}
.reply input.reply--text:valid {
  margin-right: 71px;
}
.reply input.reply--text:valid + .reply--button {
  right: 10px;
}
.reply .reply--button {
  position: absolute;
  right: -100px;
  border: 1px solid #2a629c;
  background-color: transparent;
  color: #2a629c;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0.375rem 0.75rem;
  font-size: 15px;
  line-height: 1.5;
  border-radius: 30px;
  transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out,
    border-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out,
    right 0.25s ease-in-out;
  outline: 0;
}
.reply .reply--button:hover {
  color: #fff;
  background-color: #2a629c;
}
.reply .reply--button:focus,
.reply .reply--button:active {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
hr {
  margin-top: 10px;
  margin-bottom: 10px;
}
</style>