<template>
  <div class="comment">
    <!--<div class="avatar">
      <img :src="comment.avatar" alt="" />
    </div>-->
    <div class="text">
      <a class="username" href="#"> <i>{{ comment.user.name }}</i> </a>
      <span>{{ comment.text }}</span>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    comment: Object,
  },
  mounted() {},
  methods: {},
};
</script>

<style scoped>
.comment {
  display: flex;
  padding: 10px;
  margin-bottom: 10px;
  align-items: center;
  color: #333;
  background-color: #f2f2f2;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
.comment .avatar {
  align-self: flex-start;
}
.comment .avatar > img {
  width: 40px;
  height: 40px;
  align-self: start;
}
.comment .text {
  text-align: left;
  margin-left: 5px;
}
.comment .text span {
  margin-left: 5px;
}
.comment .text .username {
  font-weight: bold;
  color: #333;
}
</style>